@inherits LayoutComponentBase

<link href="css/navbar.css" rel="stylesheet" />
<div class="page" @onclick="closeMenu">
	@* <div class="sidebar">
	<NavMenu />
	</div>
	*@
	<div class="topBar">
		<Navbar showNav="nav" OnShowNavChanged="HandleShowNavChanged" />
	</div>
	<main>

		<article class="content px-2">
			@Body
		</article>
	</main>
</div>

<div id="blazor-error-ui">
	An unhandled error has occurred.
	<a href="" class="reload">Reload</a>
	<a class="dismiss">🗙</a>
</div>

