<div class="Logo">
	<img src="images/logo.png" alt="logo" />
</div>
<div class="navItem">
	<NavLink href="" Match="NavLinkMatch.All">
		Home
	</NavLink>
	<NavLink href="products">
		Products
	</NavLink>
	<NavLink href="services">
		Services
	</NavLink>
	<NavLink href="aboutus">
		About Us
	</NavLink>
	<NavLink href="partnership">
		Partnership
	</NavLink>
	<NavLink href="contacts">
		Contacts
	</NavLink>
</div>
<div class="d-flex align-items-center">
	<div class="d-flex align-items-center icon">
		<img src="images/map.png" />
		<span class="ms-2 fw-bold" style="font-size:12px;">location</span>
	</div>
	<div class="d-flex align-items-center icon ms-4">
		<img src="images/search.png" />
	</div>

</div>

