.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 3.5rem;
    position: sticky;
    top: 0;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
    background-color: white;
    z-index: 1000;
}

.navItem {
    display: flex;
    gap: 30px;
    align-items: center;
}

    .navItem a {
        color: black;
        font-weight: 600;
        font-size: 15px;
        transition: all 0.3s ease-in-out;
        text-decoration: none;
    }

        .navItem a:hover {
            color: #153865;
            text-decoration: underline;
            text-decoration-thickness: 3px;
            text-underline-offset: 5px;
        }

.topBar .navItem .active {
    color: #153865;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}

.topBar .Logo {
    height: 90%;
}

    .topBar .Logo img {
        height: 100%;
        object-fit: fill;
    }

.icon {
    height: 20px;
    cursor: pointer;
}

    .icon img {
        height: 100%;
        object-fit: fill;
    }
.menu{
    height:30px;
    display:none;
    cursor:pointer;
}
.menu img{
    height:100%;
    object-fit:fill;
}
.mobileNavItem {
    position: absolute;
    top: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 6px 10px rgba(0,0,0,0.4);
    padding: 40px 75px;
    gap: 10px;
}
    .mobileNavItem a {
        color: black;
        font-weight: 600;
        font-size: 15px;
        transition: all 0.3s ease-in-out;
        text-decoration: none;
    }

        .mobileNavItem a:hover {
            color: #153865;
            text-decoration: underline;
            text-decoration-thickness: 3px;
            text-underline-offset: 5px;
        }

.topBar .mobileNavItem .active {
    color: #153865;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}

    @media (max-width:1030px) {
        .menu {
        display: block;
    }
    .navItem{
        display:none;
    }
}
