@page "/products"

<h3>Products</h3>



<div style="display: flex; flex-wrap: wrap; justify-content: center;">
    @foreach (var item in productList.GetProducts())
    {
        <div class="product-card">
            <img src="images/@item.PhotoUrl" alt="@item.Name" />
            <span class="product-name">@item.Name</span>
            <span class="product-description">@item.Description</span>
        </div>
    }
</div>
